<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Invoice</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/CssStyle/cssStyle.css}">
</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Choose action</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/}">To Home Page</a>
                <a class="nav-item nav-link" th:href="@{/invoiceManagement}">My Invoices</a>
                <a class="nav-item nav-link" th:href="@{/supplierManagement}">My Suppliers</a>
                <a class="nav-item nav-link" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </nav>

    <h1 th:text="'Edit invoice ' + ${invoice.invoiceNumber}"></h1>

    <form method="post" th:action="@{/invoiceManagement/edit}">
        <div class="mb-3">
            <label for="invoiceNumber" class="form-label">Invoice Number</label>
            <input th:value="${invoice.invoiceNumber}" type="text" class="form-control" id="invoiceNumber" aria-describedby="number" name="invoiceNumber" readonly>
        </div>
        <div class="mb-3">
            <label for="updatedSupplier">Update Supplier Name</label>
            <select name="updatedSupplierName" required class="form-control" id="updatedSupplier">
                <option th:value="${invoice.supplier.supplierName}" th:text="${invoice.supplier.supplierName}"></option>
                <option th:each="supplier : ${supplierList}" th:value="${supplier.supplierName}" th:text="${supplier.supplierName}"></option>
            </select>
        </div>
        <div class="row">
            <div class="col">
                <label for="value" class="form-label"> Modify Invoice Value</label>
                <input th:value="${invoice.value}" type="number" class="form-control" name="updatedValue" id="value" aria-describedby="value" step="0.01">
            </div>
            <div class="col">
                <label for="currency" class="form-label">Modify Invoice Currency </label>
                <select name="updatedCurrency" id="currency" class="form-control" aria-describedby="currency">
                    <option th:value="${invoice.currency}" th:text="${invoice.currency}"></option>
                    <option th:each="currency : ${currencyList}" th:value="${currency}" th:text="${currency}"></option>
                </select>
            </div>
        </div>
        <div>
            <label for="dueDate" class="form-label">Modify Due Date</label>
            <input th:value="${invoice.dueDate}" type="date" class="form-control" name="updatedDueDate" id="dueDate" th:min="${minDate}" th:max="${maxDate}">
        </div>
        <div>
            <label for="paymentStatus" class="form-label">Modify Payment Status</label>
            <select name="updatedStatus" id="paymentStatus" class="form-control" aria-describedby="paymentStatus">
                <option th:value="${invoice.status}" th:text="${invoice.status}"></option>
                <option th:each="status : ${availableStatus}" th:value="${status}" th:text="${status}"></option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
</body>
</html>