<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Invoice Management</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/JavaScript/javaScript.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css”/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/CssStyle/cssStyle.css}">
</head>
<body>

<div class="pos-f-t">
    <div class="bg-dark p-2">
        <div class="bg-dark p-2">

            <div class="topnav">
                <a class="nav-link" href="">Menu</a>
                <a th:href="@{/home}">Home Page</a>
                <a th:href="@{/supplier-management}">My Suppliers</a>
                <a th:href="@{/logout-confirmation}" sec:authorize="isAuthenticated()">Logout</a>
            </div>

        </div>
    </div>
</div>

<h1 align="center">Your Invoices</h1>

<div class="container">
    <div class="row">
        <div class="col-md-auto" style="margin: 9px 0px;">
            <span class="filterLabel">Filter Invoice Table: </span>
        </div>
        <div class="col-md-auto" style="margin: 2px -10px;">
            <a class="btn btn-primary" th:href="@{/invoice-management}">View all</a>
        </div>
        <div class="col-md-auto" style="margin: 2px -10px;">
            <form method="get" action="invoiceManagement/filteredInvoiceTable">
                <button type="submit" name="filterParam" value="Paid" class="btn btn-primary">View Paid Invoices</button>
            </form>
        </div>
        <div class="col-md-auto" style="margin: 2px -10px;">
            <form method="get" action="invoiceManagement/filteredInvoiceTable">
                <button type="submit" name="filterParam" value="Not paid" class="btn btn-primary">View Unpaid Invoices</button>
            </form>
        </div>
        <div class="col-md-auto" style="margin: 2px -10px;">
            <form method="get" action="invoiceManagement/filteredInvoiceTable">
                <button type="submit" name="filterParam" value="7" class="btn btn-primary">Due in 7 Days</button>
            </form>
        </div>
        <div class="col-md-auto" style="margin: 2px -10px;">
            <form method="get" action="invoiceManagement/filteredInvoiceTable">
                <button type="submit" name="filterParam" value="30" class="btn btn-primary">Due in 30 Days</button>
            </form>
        </div>
        <div class="col" style="margin: 2px 0px; text-align: right;">
            <a class="btn btn-success" th:href="@{/invoice-management/form}" style="background-color: #04AA6D;">Add new Invoice</a>
        </div>
    </div>
</div>

    <div class="container">
        <form method="get" th:action="@{/invoice-management/invoices/download}">
        <div class="row">
            <div class="col">
                <div class="input-group" style="margin: 10px 0;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Filter by Supplier</span>
                    </div>
                    <input type="text" class="form-control" id="supplierInput" name="supplierName" onkeyup="filterBySupplierName()" placeholder="Write Supplier Name..">
                </div>
            </div>
                    <div class="col" style="margin: 10px 0;">
                        <select name="filter" id="filter" class="form-control" onchange="changeFilter()">
                            <option value="All">All Invoices</option>
                            <option value="Paid">Paid Invoices</option>
                            <option value="Not paid">Unpaid Invoices</option>
                            <option value="7">Invoices Due in 7 Days</option>
                            <option value="30">Invoices Due in 30 Days</option>
                        </select>
                    </div>
                    <div class="col" style="margin: 10px 0;">
                        <button type="submit" value="Export Invoices" class="btn btn-success" style="background-color: #04AA6D;">Export to PDF</button>
                    </div>
        </div>
            </form>
            </div>

<div class="container">
    <p id="colorExplanation"><span id="colorSample">A</span> - Invoice is Not paid and Overdue.</p>
</div>

    <div class="managementTable">
        <table class="table table-hover" id="invoiceTable">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Invoice Number</th>
                    <th scope="col">Supplier Name</th>
                    <th scope="col">Value</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Introduction Date</th>
                    <th scope="col">Payment Status</th>
                    <th scope="col">Action</th>
                    <th scope="col">Change Payment Status</th>
                    <th scope="col">View Invoice Image</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="invoice, iter:${invoices}">
                    <th scope="row" th:text="${invoice.invoiceNumber}"></th>
                    <td th:text="${invoice.supplier.supplierName}"></td>
                    <td th:text="${invoice.value}"></td>
                    <td th:text="${invoice.currency}"></td>
                    <td th:text="${invoice.dueDate}" style="background-color: #FFB6C1;" th:if="${invoice.dueDate < currentDate && invoice.status == 'Not paid'}"></td>
                    <td th:text="${invoice.dueDate}" th:unless="${invoice.dueDate < currentDate && invoice.status == 'Not paid'}"></td>
                    <td th:text="${invoice.introductionDate}"></td>
                    <td th:text="${invoice.status}"></td>
                    <td>
                        <a class="btn btn-outline-primary" th:href="@{/invoice-management/{invoiceNumber}/form(invoiceNumber=${invoice.invoiceNumber})}"><i class="bi bi-pencil-fill"></i></a>
                        <form method="delete" th:action="@{/invoice-management/{invoiceNumber}(invoiceNumber=${invoice.invoiceNumber})}">
                            <button type="submit" name="deleteInvoice" class="btn btn-success" style="background-color: #04AA6D;"><i class="bi bi-trash"></i></button>
                        </form>
                    </td>
                    <td>
                        <form method="get" th:action="@{/invoiceManagement/changePaymentStatus/{invoiceNumber}(invoiceNumber=${invoice.invoiceNumber})}" th:if="${invoice.status == 'Not paid'}">
                            <button type="submit" name="paymentStatus" value="Paid" class="btn btn-success" style="background-color: #04AA6D;">Mark as Paid</button>
                        </form>
                        <form method="get" th:action="@{/invoiceManagement/changePaymentStatus/{invoiceNumber}(invoiceNumber=${invoice.invoiceNumber})}" th:unless="${invoice.status == 'Not paid'}">
                            <button type="submit" name="paymentStatus" value="Not paid" class="btn btn-outline-danger">Mark as Unpaid</button>
                        </form>
                    </td>
                    <td>
                        <a th:if="${invoice.invoiceImage != null}" class="btn btn-outline-primary" th:href="@{/invoice-management/{invoiceNumber}/resources(invoiceNumber=${invoice.invoiceNumber})}">View Invoice</a>
                        <form method="delete" th:action="@{/invoice-management/{invoiceNumber}/resources(invoiceNumber=${invoice.invoiceNumber})}">
                            <button type="submit" name="deleteInvoice" class="btn btn-success" style="background-color: #04AA6D;">Delete Image</button>
                        </form>
                        <a th:unless="${invoice.invoiceImage != null}" class="btn btn-outline-secondary active">No image available</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>