<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Invoice Management</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/JavaScript/javaScript.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css”/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/CssStyle/cssStyle.css}">
</head>
<body>

<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent1">
        <div class="bg-dark p-4">

            <div class="topnav">
                <a th:href="@{/}">Home Page</a>
                <a th:href="@{/supplierManagement}">My Suppliers</a>
                <a th:href="@{/logoutConfirm}" sec:authorize="isAuthenticated()">Logout</a>
            </div>

        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent1" aria-controls="navbarToggleExternalContent1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>

<h1 align="center">Your Invoices</h1>

<div class="container">
    <div class="row">
        <div class="col">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">View all</li>
            <li class="breadcrumb-item"><a th:href="@{/invoiceManagement/paidInvoices}">View Paid invoices</a></li>
            <li class="breadcrumb-item"><a th:href="@{/invoiceManagement/unpaidInvoices}">View Unpaid invoices</a></li>
            <li class="breadcrumb-item"><a th:href="@{/invoiceManagement/dueIn7Days}">Due in 7 Days</a></li>
            <li class="breadcrumb-item"><a th:href="@{/invoiceManagement/dueIn30Days}">Due in 30 Days</a></li>
        </ol>
    </nav>
        </div>
        <div class="col-md-auto">
            <a class="btn btn-success" th:href="@{/invoiceManagement/addInvoice}" style="background-color: #04AA6D;">Add new Invoice</a>
        </div>
    </div>
</div>

    <div class="container">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Filter by Supplier</span>
            </div>
            <input type="text" class="form-control" id="supplierInput" onkeyup="filterBySupplierName()" placeholder="Write Supplier Name..">
        </div>
    </div>

<div class="container">
    <p id="colorExplanation"><span id="colorSample">A</span> - Invoice is Not paid and Overdue.</p>
</div>

            <div class="managementTable">
                <table class="table table-hover" id="invoiceTable">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Invoice Number</th>
                        <th scope="col">Supplier Name</th>
                        <th scope="col">Value</th>
                        <th scope="col">Currency</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Introduction Date</th>
                        <th scope="col">Payment Status</th>
                        <th scope="col">Action</th>
                        <th scope="col">Change Payment Status</th>
                    </tr>
                    </thead>
                        <tbody>
                            <tr th:each="invoice, iter:${invoices}">
                                <th scope="row" th:text="${invoice.invoiceNumber}"></th>
                                <td th:text="${invoice.supplier?.supplierName}"></td>
                                <td th:text="${invoice.value}"></td>
                                <td th:text="${invoice.currency}"></td>
                                <td th:text="${invoice.dueDate}" style="background-color: #FFB6C1;" th:if="${invoice.dueDate < currentDate && invoice.status == 'Not paid'}"></td>
                                <td th:text="${invoice.dueDate}" th:unless="${invoice.dueDate < currentDate && invoice.status == 'Not paid'}"></td>
                                <td th:text="${invoice.introductionDate}"></td>
                                <td th:text="${invoice.status}"></td>
                                <td>
                                    <a class="btn btn-outline-info" th:href="@{/invoiceManagement/edit/{invoiceNumber}(invoiceNumber=${invoice.invoiceNumber})}"><i class="bi bi-pencil-fill"></i></a>
                                    <a class="btn btn-outline-danger" th:href="@{/invoiceManagement/delete/{invoiceNumber}(invoiceNumber=${invoice.invoiceNumber})}"><i class="bi bi-trash"></i></a>
                                </td>
                                <td>
                                    <a id="markAsPaidButton" class="btn btn-outline-success" th:if="${invoice.status == 'Not paid'}" th:href="@{/invoiceManagement/markAsPaid/{invoiceNumber}(invoiceNumber=${invoice.invoiceNumber})}">Mark as Paid</a>
                                    <a id="markAsUnpaidButton" class="btn btn-outline-info" th:unless="${invoice.status == 'Not paid'}" th:href="@{/invoiceManagement/markAsUnpaid/{invoiceNumber}(invoiceNumber=${invoice.invoiceNumber})}">Mark as Unpaid</a>
                                </td>
                            </tr>
                        </tbody>
                </table>
            </div>

</body>
</html>